<div class="container bg-light">
  <h1 class="title text-center text-info">URL Shortener</h1>
  <form action="/" method="POST">

    <a href="icon"></a>

    <div class="input-group mb-3">
      <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" value="Input URL here">
      <div class="d-flex flex-row-reverse mt-3">
        <button type="submit" class="btn btn-outline-danger generator-button" style="mt-3">Shorten</button>
      </div>
    </div>

  </form>

</div>